
 @font-face {
        font-family: babyblocks;
        src: url(babyblocks.ttf);
    }

h1 {
    font-family: babyblocks; /* fuente */
    font-size: 50px; /* tamaño de la letra */
    position: relative;
    left: 40px;
    top: 10px;
}