
 @font-face {
        font-family: babyblocks;
        src: url(babyblocks.ttf);
    }
 @font-face {
        font-family: Imperator;
        src: url(Imperator.ttf);
    }

.body {
    background-size: 100px 50px;
    background-size: 50% 50%;
}

h1 {
    font-size: 50px; /* tamaño de la letra */
    font-family: babyblocks; /* fuente */
    position: absolute;
    left: 450px;
    top: 0px;
    color: white;
    text-align: center;
}

#p1 {
    font-family: imperator;
    color: white;
    position: absolute;
    left: 750px;
    top: 100px;
}

#p2 {
    text-align: center;
    font-family: imperator;
    color: white;
    position: absolute;
    left: 835px;
    top: 210px;
}
#p3 {
    font-size: 14px;
    font-family: imperator;
    color: white;
    position: absolute;
    left: 785px;
    top: 278px;
}

#p4 { /*¿Qué es el caesar cipher?*/
    font-size: 40px; /* tamaño de la letra */
    font-family: babyblocks; /* fuente */
    color: rgb(69, 192, 12);
    position: absolute;
    left: 115px;
    top: 185px;
}
#p5 { /*prueba*/
    font-family: imperator;
    color: white;
    position: absolute;
    left: 50px;
    top: 280px;
    text-align: center;
}

#p6 { /* ejemplos caesar cipher*/
    font-size: 40px; /* tamaño de la letra */
    font-family: babyblocks; /* fuente */
    color: rgb(69, 192, 12);
    position: absolute;
    left: 135px;
    top: 345px;
}

#p7 {
    font-family: imperator;
    text-align: center;
    color: white;
    position: absolute;
    left: 50px;
    top: 430px;
}

#p8 {
    font-size: 20px;
    font-family: babyblocks;
    text-align: center;
    color: white;
    position: absolute;
    left: 500px;
    top: 130px;
}

#p9 {
    font-size: 25px;
    font-family: babyblocks;
    text-align: center;
    color: white;
    position: absolute;
    left: 940px;
    top: 190px;
}
#encrypt {
    font-size: 20px;
    position: absolute;
    left: 750px;
    top: 330px;
    width: 270px;
    height: 250px;
    resize: none;
    font-family: babyblocks;
}
#descrypt {
    font-size: 20px;
    position: absolute;
    left: 1035px; /*derecha*/
    top: 330px; 
    width: 270px; /*ancho*/
    height: 250px; /*largo*/
    resize: none;
    font-family: babyblocks;
}
#displacement {
    font-size: 15px;
    position: absolute;
    left: 750px; /*derecha*/
    top: 290px; 
    width: 25px; /*ancho*/
    height: 25px; /*largo*/
    resize: none;
    
}
#buttonStart {
    font-size: 19px; 
    position: absolute;
    left: 855px; /*derecha*/
    top: 600px; 
    width: 70px; /*ancho*/
    height: 25px; /*largo*/
    background-color:rgb(69, 192, 12);;
    color: black;
    border: 2px solid #4CAF50;
    font-family: babyblocks;
}
#buttonStart2 { /*descifrar*/
    font-size: 19px; 
    position: absolute;
    left: 1135px; /*derecha*/
    top: 600px; 
    width: 90px; /*ancho*/
    height: 25px; /*largo*/
    background-color:rgb(69, 192, 12);;
    color: black;
    border: 2px solid #4CAF50;
    font-family: babyblocks;
    text-align: right;
}
#buttonStart3 { /*limpiar*/
    font-size: 17px; 
    position: absolute;
    left: 1001px; /*derecha*/
    top: 610px; 
    width: 65px; /*ancho*/
    height: 25px; /*largo*/
    background-color:rgb(69, 192, 12);;
    color: black;
    border: 2px solid #4CAF50;
    font-family: babyblocks;
    
}